/* home.css */
@import url("https://use.typekit.net/csk6jjx.css");
@import url("/node_modules/slick-carousel/slick/slick.css");
@import url("/node_modules/slick-carousel/slick/slick-theme.css");
@import url("https://fonts.cdnfonts.com/css/formula-condensed");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.body {
  display: flex;
  flex-direction: column;
  min-height: 70vw;
}

.home-page {
  font-family: "Formula Condensed", sans-serif;
  font-style: normal;
  background-color: #fff;
}

.hero-section {
  text-align: center;
  padding: 50px 0;
  background: linear-gradient(135deg, #ffffff 10%, #1f2937 100%);
  color: #fff;
  transition: all 0.5s ease-in-out;
  margin: 0;
}

.hero-section h1 {
  font-size: 3rem;
  margin-bottom: 10px;
  font-family: "Formula Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.hero-section p {
  font-size: 1.2rem;
  color: #fff;
}

.categories-section h2 {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 4rem;
  font-weight: 700;
  color: #ffc300;
  text-transform: uppercase;
  font-family: "Formula Condensed", sans-serif;
}

.categories-section {
  justify-content: center;
  gap: 30px;
}

.categories-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin-bottom: 20px;
  justify-items: center;
  row-gap: 20px;
}

.category-card {
  background-color: #fff;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  width: 90%;
}

.category-card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 24px rgba(102, 51, 153, 0.3);
}

.category-card h3 {
  margin: 10px 0;
  font-size: 4rem;
  font-weight: 300;
  font-family: "Formula Condensed", sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: #222;
  text-decoration: none;
}

.category-card a {
  text-decoration: none;
  color: inherit;
}

.category-card:hover h3 {
  color: rebeccapurple;
}

.category-image img {
  max-width: 100%;
  height: auto;
  border-radius: 12px;
  transition: transform 0.4s ease-in-out;
}

.category-image img:hover {
  transform: scale(1.03);
}

.luxury-banner {
  position: relative;
  display: flex;
  align-items: center;
  height: 100vh;
  color: #e0e0e0;
  overflow: hidden;
  margin-bottom: -500px;
  height: 1600px;
}

.luxury-banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70%;
  background: rgba(0, 0, 0, 0.381);
  z-index: 2;
}

.banner-content {
  position: relative;
  z-index: 2;
  max-width: 40%;
  color: #e0e0e0;
  margin: 300px 10px 50px 100px;
  padding: 20px;
}

.banner-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: inherit;
  filter: blur(8px);
  opacity: 0.7;
  z-index: -1;
  border-radius: 8px;
}

.banner-content h1 {
  font-size: 2.5rem;
  font-weight: 300;
  color: #ffffff;
  margin-bottom: 10px;
  font-family: "Formula Condensed", sans-serif;
}

.banner-content h2 {
  font-size: 7rem;
  font-weight: 700;
  color: rebeccapurple;
  font-family: "Formula Condensed", sans-serif;
}

.slick-next {
  right: 0px;
  display: none;
  visibility: hidden;
}

.explore-button {
  display: inline-block;
  padding: 12px 25px;
  color: #ffffff;
  background: black;
  border: none;
  border-radius: 5px;
  text-align: left;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: bold;
  transition: background 0.3s ease, color 0.3s ease;
  font-family: "Formula Condensed", sans-serif;
  font-weight: 200;
  text-decoration: none;
}

.explore-button:hover {
  background-color: #ffffff;
  color: #121212;
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(255, 255, 255, 0.3);
}

.explore-button:active {
  transform: translateY(0);
}

.banner-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: hidden;
}

.banner-image img {
  width: 100%;
  height: 70%;
  object-fit: cover;
}

.luxury-banner-slider .slick-dots {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  gap: 10px;
}

.luxury-banner-slider .slick-dots .slick-active button:before {
  color: #ffffff;
  opacity: 1;
  background-color: #ffffff;
}

.luxury-banner-slider .slick-dots li button:before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  background-color: transparent;
  opacity: 0.5;
  transition: all 0.3s ease;
}

.icon-container {
  margin-right: 15px;
}

@media (max-width: 2200px) {
  .luxury-banner {
    position: relative;
    display: flex;
    align-items: center;

    overflow: hidden;
    margin-bottom: -800px;
    height: 1500px;
  }
  .banner-image {
    width: 100%;
    height: 100%;
  }
  .banner-image img {
    width: 100%;
    height: 50%;
  }
  .banner-content {
    position: relative;
    z-index: 2;
    max-width: 100%;

    margin: 250px 50px 250px 200px;
    padding: 40px;
  }
}

@media screen and (max-width: 1900px) {
  .body {
    min-height: 100vh;
  }
}

@media (max-width: 1350px) {
  .body {
    min-height: 100vh;
  }

  .luxury-banner {
    position: relative;
    display: flex;
    align-items: center;

    overflow: hidden;
    margin-bottom: -800px;
    height: 1300px;
  }
  .banner-image {
    width: 100%;
    height: 60%;
  }
  .banner-image img {
    width: 100%;
    height: 70%;
  }
  .banner-content {
    position: relative;
    z-index: 2;
    max-width: 100%;

    margin: 150px 50px 150px 50px;
    padding: 40px;
  }
}

@media (max-width: 1024px) {
  .banner-content h1 {
    font-size: 2rem;
    font-weight: 300;

    margin-bottom: 10px;
  }

  .banner-content h2 {
    font-size: 4rem;
    font-weight: 700;

    width: 300px;
  }
}

/* Responsive Design */
@media (max-width: 768px) {
  .luxury-banner {
    position: relative;
    display: flex;
    align-items: center;

    overflow: hidden;
    margin-bottom: -800px;
    height: 1100px;
  }
  .banner-image {
    width: 100%;
    height: 95%;
  }
  .banner-image img {
    width: 100%;
    height: 30%;
  }
  .banner-content {
    position: relative;
    z-index: 2;
    max-width: 100%;

    margin: 100px 0px 0px 0px;
    padding: 40px;
  }

  .banner-content h1 {
    font-size: 1.5rem;
    font-weight: 300;

    margin-bottom: 10px;
  }

  .banner-content h2 {
    font-size: 3rem;
    font-weight: 700;

    width: 300px;
  }
  .luxury-banner-slider {
    width: 100%;
    height: 30%;
  }
  .slick-dots li button {
    display: none;
  }
  .explore-button {
    display: none;
  }
}

@media (max-width: 550px) {
  .luxury-banner {
    position: relative;
    display: flex;
    align-items: center;

    overflow: hidden;
    margin-bottom: -800px;
    height: 1000px;
  }
  .banner-image {
    width: 100%;
    height: 70%;
  }
  .banner-image img {
    width: 100%;
    height: 30%;
  }
  .banner-content {
    position: relative;
    z-index: 2;
    max-width: 100%;

    margin: 0px 0px 0px 0px;
    padding: 40px;
  }

  .banner-content h1 {
    font-size: 1.5rem;
    font-weight: 300;

    margin-bottom: 10px;
  }

  .banner-content h2 {
    font-size: 3rem;
    font-weight: 700;

    width: 300px;
  }
  .luxury-banner-slider {
    width: 100%;
    height: 30%;
  }
  .slick-dots li button {
    display: none;
  }
  .explore-button {
    display: none;
  }


}
